body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0 auto;
    padding: 10px;
    max-width: 84%;
    color: #333;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 24px;
}

.main-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;

}

.post-content {
    margin-top: 5px;
}

input[name=username] {
	width: 25%;
	margin-bottom: 2em;
}

input[name=password] {
	width: 25%;
	margin-bottom: 2em;
}

input[name=verify] {
	width: 25%;
	margin-bottom: 2em;
}

input[name=email] {
	width: 25%;
	margin-bottom: 2em;
}

.navbar-btn {
  position: relative;
  display: block;
  margin: 10px 15px;
}
