<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
  <title>Example Blog</title>
</head>

<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
  <a href="/blog" class="main-title">
    Example Blog
  </a>
    </div>
  </div>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/blog">Front Page</a></li>
      {%if user%}
      <li><a href="/blog/newpost">New Post</a></li>
      <li><a href="/manage">Manage</a></li>
      {%endif %}
      {%if not user %}
      <li><a href="/login">Log in </a></li>
      <li><a href="/signup">Register</a></li>
      {%endif %}
      </ul>
      {%if user%}
      <ul class="nav navbar-nav navbar-right">
      <li class="navbar">Logged in as: {{user}}</li>
      <li><a href="/logout">Logout</a></li>
      </ul>
      {%endif %}
  </div>
  </nav>
  <br>
  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
</div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
