{% extends "base.html" %}
{% block title %} Delete Post {% endblock %}
{% block content %}
<p>Editing post {{post.subject}}</p>

    {{post.render() | safe}}
      <br>
  <noscript>
    <form method="post" action="/delete/{{post.key.id()}}">
      <p>WARNING: NO WAY TO UNDO - THIS IS PERMANENT</p>
      <button type="submit" class="btn btn-danger">Delete Post
      <span class="glyphicon glyphicon-remove-circle"></span></button>
      <p>WARNING: NO WAY TO UNDO - THIS IS PERMANENT</p>
      <input type="hidden" name="csrf-token" value="{{token}}"></input>
    </form>
  </noscript>
  <div id="delete-modal-opener">
    <!-- button should only show if js is enabled, as modal
        functionality requires js.. keep #delete-modal-opener set
        to display: none in the css and show with scripting -->
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirm">Delete Post
  <span class="glyphicon glyphicon-remove-circle"></span></button>
  </div><br>
  <!-- Confirm Delete Modal -->
  <div id="confirm" class="modal fade">
  <div class="modal-dialog">
    <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">X</button>
          <h4 class="modal-title">Confirm Post Delete</h4>
    </div>
    <div class="modal-body">
      Are you sure you want to completely remove this post?<br> There is no way to undo this action.
    </div>
    <div class="modal-footer">
      <form method="post" action="/delete/{{post.key.id()}}">
      <button type="submit" class="btn btn-primary" id="delete">Delete</button>
      <button type="button" data-dismiss="modal" class="btn">Cancel</button>
      <input type="hidden" name="csrf-token" value="{{token}}"></input>
      </form>
    </div>
  </div>
  </div>
  </div>
  <form method="get" action="/manage">
    <button type="submit" class="btn btn-default">Cancel</button>
  </form>
  <script>
    $("#delete-modal-opener").show();
  </script>
{% endblock %}
