{% extends "base.html" %}

{% block content %}
<p>Editing post {{post.subject}}</p>

  <form method="post" action="/delete/{{post.key.id()}}">
    {{post.render() | safe}}
      <br>
    <p>WARNING: NO WAY TO UNDO - THIS IS PERMANENT</p>
    <button type="submit" class="btn btn-danger">Delete Post
    <span class="glyphicon glyphicon-remove-circle"></span></button>
    <p>WARNING: NO WAY TO UNDO - THIS IS PERMANENT</p>
    <input type="hidden" name="csrf-token" value="{{token}}"></input>
  </form>

  <form method="get" action="/manage">
    <button type="submit" class="btn btn-default">Cancel</button>
  </form>
{% endblock %}
