{% extends "base.html" %}
{% block title %} Editing Post {% endblock %}
{% block content %}
<p>Editing post {{post.subject}}</p>

  <form method="post" class="form-group" action="/edit/{{post.key.id()}}">
    <textarea class="form-control" name="content">{{post.content}}</textarea>
      <br>
    <input type="hidden" name="csrf-token" value="{{token}}"></input>
    <button type="submit" class="btn btn-primary">Update This Post
      <span class="glyphicon glyphicon-edit"></span></button>
  </form>
  <br>
  <form method="get" action="/manage">
    <button type="submit" class="btn btn-default">Cancel</button>
  </form>
{% endblock %}
