{% extends "base.html" %}
{% block title %} Blog password reset {% endblock %}
{% block content %}
{%if not sent_email %}
<div class="reset-password-form form-group">
  Please enter your email address to reset your password
  <br><br>
<form method="post">
  <h4>Email Address</h4>
   <input type="text" class="form-control" name="email">
  <br>
  <button type="submit" class="btn btn-primary">
    Send Reset link<span class="glyphicon glyphicon-envelope"></span></button>
</form>
<br>
{{error}}
</div>
{%endif %}
{%if sent_email %}
<div class ="recovery-email-sent">
  <p>
    Password recovery email sent. Please check your email.
    The link is only valid for 15 minutes.
  </p>
</div>
{%endif %}
{% endblock %}
