{% extends "base.html" %}

{% block content %}
{%if not sent_email %}
<div class="reset-password-form">
  Please enter your email address to reset your password
  <br><br>
<form method="post">
  Email Address: <input type="text" name="email">
  <br>
  <input type="submit" value="Send Reset link">
</form>
<br>
{{error}}
</div>
{%endif %}
{%if sent_email %}
<div class ="recovery-email-sent">
  <p>
    Password recovery email sent. Please check your email.
    The link is only valid for 15 minutes.
  </p>
</div>
{%endif %}
{% endblock %}
