{% extends "base.html" %}

{% block content %}
<div class="posts scroll">
  {% for p in blogroll %}
    {{ p.peek() | safe}}
    <br><br>
  {% endfor %}
  <div class="jscroll-next">
  <!-- links to next page used by jscroll/autopager
  only works with js - should be hidden in css with
  .jscroll-next {display: none;} and unhidden with scripting -->
    <a href="/blog/nextpage/{{page_id+1}}">Next Page</a>
  </div>
</div>
<noscript>
    {% if page_id > 1 %}
    <a class="prevpage-link" href ="/blog/page/{{page_id - 1}}"> &lt;- Prev</a>
    {% endif %}
    {% if page_id < pagecount %}
    <a class="nextpage-link" href ="/blog/page/{{page_id + 1}}">Next -&gt; </a>
    {% endif %}
</noscript>
<script type="text/javascript" src="/static/jquery.jscroll.min.js"></script>
<script>
  $('.jscroll-next').show();
  $('.scroll').jscroll();
</script>
{% endblock %}
