{% extends "base.html" %}
{% block title %} Blog Login {% endblock %}
{% block content %}
<div class="login-form form-group">
<span class="error">{{error}}</span>
<form method="post">
	<h4>Username</h4>
	<input type="text" class="form-control" name="username">
	<h4>Password</h4>
	<input type="password" class="form-control" name="password">
	<br>
	<button type="submit" class="btn btn-primary">Login
		<span class="glyphicon glyphicon-log-in"></span></button>
</form>
<br>
<p>Don't have an account?
<a href="/signup">Sign up!</a></p><br>
<a href ="/forgot-password">Forgot password?</a>
<br>
</div>
{% endblock %}
