{% extends "base.html" %}

{% block content %}
<h3><a href="/manage/updatepass">Update your password</a></h3>
<h1> Manage User Posts - {{user}}</h1>
{% for post in post_roll %}
{{post.peek() | safe}}
<br>
<form method ="get" action="/edit/{{post.key.id()}}">
  <button type ="submit" class="btn btn-default">
    Edit Post<span class="glyphicon glyphicon-edit"></span></button>
</form>

<form method ="get" action="/delete/{{post.key.id()}}">
  <button type ="submit" class="btn btn-default">
    Delete Post<span class="glyphicon glyphicon-remove-circle"></span></button>
</form>
<br>
{% endfor %}

<h1> Manage User Comments - {{user}}</h1>
<div class="my_comments">
{% for comment in comment_roll %}
  {{comment.render() | safe}}
  <form method ="get" action="/edit/c/{{comment.key.id()}}">
    <button type ="submit" class="btn btn-default">
      Edit Comment<span class="glyphicon glyphicon-edit"></span></button>
  <br><br>
{% endfor %}
</div>

{% endblock %}
