{% extends "base.html" %}
{% block title %} Add new blog post {% endblock %}
{% block content %}
  <h2>Create New Post</h2>
    <div class="error">{{error}}</div>
    {%if user %}
    <form method="post" class="newpost-form form-group">
      <label>
        <div>Subject</div>
        <input type="text" class="form-control" name="subject" value="{{subject}}">
      </label>

      <label>
        <div>Post Content</div>
        <textarea class="form-control" name="content">{{content}}</textarea>
      </label>
      <input type="hidden" name="csrf-token" value="{{token}}"></input>
      <button type="submit" class="btn btn-primary btn-lg">
        Add Post<span class="glyphicon glyphicon-share"></span></button>
    </form>
    {%endif %}
{% endblock %}
