{% extends "base.html" %}

{% block content %}
  {{post.render() | safe}}
  <br>
  <h4>Comments</h4>
  {{error}}
  <hr>
  {% if new_comment %}
    {{new_comment.render() | safe}}
    <br>
  {% endif %}

  {% for c in comment_roll %}
    {{ c.render() | safe }}
    {% if c.posting_user == user %}
      <form name ="edit-comment" method ="get" action="/edit/c/{{c.key.id()}}">
        <input type="submit" value="edit comment">
      </form>
    {% endif %}
    <br>
  {% endfor %}
  <form name ="comment-form" method ="post">
    <textarea name="comment_text" placeholder="Type a comment here"></textarea>
    <br>
    <input type="submit" value="Add Comment">
  </form>

{% endblock %}
