{% extends "base.html" %}

{% block content %}
  {{post.render() | safe}}
  <br>
  <h4>Comments</h4>
  {{error}}
  <hr>
  {% for c in comment_roll %}
  <div class="container-fluid col-lg-12">
    <div class="comment-box col-lg-6">
    {% if c.posting_user == user %}
    <noscript>
      <form name ="edit-comment" method ="get" action="/edit/c/{{c.key.id()}}">
        <button type="submit" class="edit-button btn btn-default">Edit Comment</button>
      </form>
    </noscript>
      <script> document.write('<button class="edit-button btn btn-default" onclick="show_edit({{c.key.id()}},\'{{token}}\')">Edit Comment</button>');</script>
    {% endif %}
    {{ c.render() | safe }}
    <br>
    </div>
  </div>
  {% endfor %}
  <form name ="comment-form form-group" method ="post">
    <textarea class="form-control" name="comment_text" placeholder="Type a comment here"></textarea>
    <br>
    <input type="hidden" name="csrf-token" value="{{token}}"></input>
    <button type="submit" class="btn btn-default">Add Comment<span class="glyphicon glyphicon-comment"></span></button>
  </form>
<script type="text/javascript" src="/static/ajaxcomment.js"></script>
{% endblock %}
