{% extends "base.html" %}
{% block title %} {{post.subject}} {% endblock %}
{% block content %}
  {{post.render() | safe}}
  <br>
  <h4>Comments</h4>
  {{error}} {% if not user%}<br>
  <a href="/login" class="btn btn-default">Login</a> or
  <a href="/signup" class="btn btn-default">Register </a>
  {%endif %}
  <hr>
  <!-- .js-comment div below is used for inline comment editing along with ajaxcomment.js
       and requires javascript. It should be hidden with css and unhidden with scripting
       in the page so the button does not show up if js is disabled. The <noscript>
       form allows users with js disabled to edit comments -->
  {% for c in comment_roll %}
  <div class="container-fluid col-lg-12">
    <div class="comment-box col-lg-6">
    {% if c.posting_user == user %}
    <noscript>
      <form class="form-group" name ="edit-comment" method ="get" action="/edit/c/{{c.key.id()}}">
        <button type="submit" class="edit-button btn btn-default">Edit Comment</button>
      </form>
    </noscript>
    <div class="js-comment">
      <button class="edit-button btn btn-default" onclick="show_edit({{c.key.id()}},'{{token}}')">Edit Comment</button>
    </div>
    {% endif %}
    {{ c.render() | safe }}
    <br>
    </div>
  </div>
  {% endfor %}
  {% if user %}
  <form class="form-group" name ="comment-form" method ="post">
    <textarea class="form-control" name="comment_text" placeholder="Type a comment here"></textarea>
    <br>
    <input type="hidden" name="csrf-token" value="{{token}}"></input>
    <button type="submit" class="btn btn-default">Add Comment<span class="glyphicon glyphicon-comment"></span></button>
  </form>
<script type="text/javascript" src="/static/ajaxcomment.min.js"></script>
<script>$('.js-comment').show();</script>
  {% endif %}
{% endblock %}
