{% extends "base.html" %}

{% block content %}
<div class="registration-form">
<form method="post">
	Username: <input type="text" name="username" value="{{username}}">
	<br>
	Password: <input type="password" name="password">
	<br>
	Verify: <input type="password" name="verify">
	<br>
	Email: <input type="text" name="email" value="{{email}}">
	<br>
	{{error_username}}
	{{error_password}}
	{{error_verify}}
	{{error_email}}
	{{error_taken}}
	<br>
	<button type="submit" class="btn btn-primary">Create Account</button>
</form>
</div>
{% endblock %}
