{% extends "base.html" %}
{% block title %} Blog Signup {% endblock %}
{% block content %}
<div class="registration-form form-group">
<form method="post">
	<h4>Username</h4> <input type="text" class="form-control" name="username" value="{{username}}">
	<h4>Password</h4> <input type="password" class="form-control" name="password">
	<h4>Confirm Password</h4> <input type="password" class="form-control" name="verify">
	<h4>Email</h4> <input type="text" class="form-control" name="email" value="{{email}}">
	<br>
	{{error_username}}
	{{error_password}}
	{{error_verify}}
	{{error_email}}
	{{error_taken}}
	<br>
	<button type="submit" class="btn btn-primary registerbtn" data-loading-text="Registering...">
		Create Account
	</button>
</form>
<script>
$(".registerbtn").click(function() {
    var $register = $(this);
    $register.button('loading');
    setTimeout(3000);
});
</script>
</div>
{% endblock %}
