{% extends "base.html" %}

{% block content %}
{%if not password_udpated %}
<div class="new-password-form">
  Please choose a new password:
  <br><br>
  <form method="post">
    New password: <input type="password" name="password">
    <br>
    Confirm: <input type="password" name="verify">
    <br><input type="submit" value="Update password">
  </form>
  <br>
  {{error}}
</div>
{%endif %}
{%if password_udpated %}
<div class="password_updated_success">
<p>
Your password has been updated.
</p>
</div>
{%endif %}
{% endblock %}
