{% extends "base.html" %}

{% block content %}
{%if not password_udpated %}
<div class="new-password-form form-group">
  Please choose a new password:
  <br>
  <form method="post">
    <h4> New password </h4>
    <input type="password" name="password">
    <h4> Confirm </h4>
    <input type="password" name="verify">
    <br>
    <button type="submit" class="btn btn-primary"> Update password </button>
  </form>
  <br>
  {{error}}
</div>
{%endif %}
{%if password_udpated %}
<div class="password_updated_success">
<p>
Your password has been updated.
</p>
</div>
{%endif %}
{% endblock %}
