{% extends "base.html" %}

{% block content %}
{%if not updated %}
<div class="updatepw-form form-group">
  <p>Use this form to change your login password</p>
  <form method="post">
    <h4>Current Password</h4>
    <input type="password" class="form-control" name="currentpassword">
    <h4>New Password</h4>
    <input type="password" class="form-control" name="newpassword">
    <h4>Confirm New Password</h4>
    <input type="password" class="form-control" name="newpassword-confirm">
    {{error}}<br>
    {{error_mismatch}}<br>
    {{error_invalid}}<br>
    <input type="hidden" name="csrf-token" value="{{token}}"></input>
    <button type="submit" class="btn btn-primary">Update Password</button>
  </form>
</div>
{%endif %}
{%if updated %}
<div class="password_updated_success">
<p>
Your password has been updated.
</p>
</div>
{%endif %}
{% endblock %}
