{% extends "base.html" %}
{% block title %} {{view_user.username}} - Posts {% endblock %}
{% block content %}
<div class="userpage-header">
<h3 class="userpage-title"> Recent Posts from {{view_user.username}} </h3>
<a class="btn btn-default rss-btn" href="/users/{{view_user.username}}/rss">
  Feed
</a>
</div>
<br>
{% for post in post_roll %}
  {{post.peek() | safe}}
{% endfor %}
{% if page_id > 1  %}
<a class="prevpage-link" href ="/users/{{view_user.username}}/page/{{page_id - 1}}">
  <button type="button" class="btn btn-default"> &lt;- Prev </button>
</a>
{% endif %}
{% if page_id < pagecount %}
<a class="nextpage-link" href ="/users/{{view_user.username}}/page/{{page_id + 1}}">
  <button type="button" class="btn btn-default">Next -&gt; </button>
</a>
{% endif %}
{% endblock %}
